<div id = "image">
    <img src = "/img/burger.jpg">
</div>

<h1> Time to eat-da-burger </h1>


<div id = "burger-form">

    <input id = "burger-type" type = "text">

    <br>

    <button id = "submit"> Order </button>

    <p> Are you hungry? Order some burgers now! </p>

</div>