<div id = "image">
    <img src = "/img/burger.jpg">
</div>

<h1> Burger Palooza </h1>

<div id = "burger-list">
    <div class = "col-md-6">
        {{#each burgers}}
            {{#unless devoured}}
                <div id ="all-burger">
                {{id}}.
                {{burger_name}}
                    <p class ="burgerReady"> </p>
                    <button class = "burgerReady" type="submit" id = "devour-btn"> Devour It! </button>
                </div>
            {{/unless}}
        {{/each}}
    </div>

{{!-- This is where the Devoured Burgers are shown --}}
    <div class = "col-md-6">
        {{#each burgers}}
            {{#if this.devoured}}
                <div id = "burgerDone">
                    {{this.id}}. {{this.burger_name}}
                    <p class = "newerBurger"></p>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<form class = "create-form">
    <div id = "burger-form">
        <textarea id = "myburger"> </textarea>
        <br>
        <button id = "submit"> Order </button>
        <p> Are you hungry? Order some burgers now! </p>
    </div>
</form>

<script>
    $(document).ready(function(){
        $(".create-form").on("submit", function() {
            event.preventDefault();
            
            var newBurger = {
                name: $("#myburger").val().trim(),
                devoured: false
            };

            $.ajax("/burgers/create", {
                type: "POST",
                data: newBurger
            }).then(
                function() {
                location.reload();
            })
            console.log("working");
            $("#myburger").val("");
        });

        $("#devour-btn").on("click", function() {
            event.preventDefault();

            var burgerDevoured = {
                newerBurger: $(".newerBurger").val(),
                devoured: true
            };

            $.ajax("/burgers/:id", {
                type: "PUT",
                data: burgerDevoured
            }).then(function() {

                console.log("it's working again!")
                location.reload();
            })
        })
    })
</script>