body {
    padding: 50px 100px;
    background-color: orange;
}

h1 {
    text-align: center;
    color: rebeccapurple;
    font-family: 'Black Ops One', cursive;
    font-size: 450%;
}

img {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

#burger-form {
    text-align: center;
}

#myburger {
    height: 60px;
    width: 400px;
}

#submit {
    width: 20%;
    background: white;
}

#devour-btn {
    background: white;
    margin-bottom: 20px;
}

#burger-name {
    font-weight: 800;
    font-size: 120%;
    padding-right: 20px;
    text-align: center;
    font-weight: 700;
}

p {
    margin-top: 30px;
    font-weight: 800;
}

