body {
    padding: 100px;
    background-color: orange;
}

h1 {
    text-align: center;
    color: blue
}

img {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

#burger-form {
    text-align: center;
}

#burger-type {
    height: 80px;
    width: 200px;
}

#submit {
    width: 20%;
}


